/*
:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #bdbdbd;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(20vh, 1fr))[5];
      grid-template-rows: repeat(5, minmax(20vh, 1fr));
  -ms-grid-columns: [full-start] minmax(min-content, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[10] [center-end] minmax(min-content, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(-webkit-min-content, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(min-content, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(min-content, 1fr) [full-end];
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #e0e0e0;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-2--light {
  color: #e0e0e0;
}

.heading-2--dark {
  color: #757575;
}

.heading-3 {
  font-size: 1.6rem;
  color: #3498db;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}

.heading-4--light {
  color: #e0e0e0;
}

.heading-4--dark {
  color: #757575;
}

.btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-color: #2980b9;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.header {
  background-color: #3498db;
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
}

.section-1 {
  background-color: #e0e0e0;
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
}

.section-2 {
  background-color: #bdbdbd;
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
}

.section-3 {
  background-color: #e0e0e0;
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
}

.footer {
  background-color: #2980b9;
  grid-column: full-start / full-end;
  padding: 8rem;
}
/*# sourceMappingURL=main.css.map */