// CSS COLOR VARIABLES/*
/*
:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}
*/

// SASS COLOR VARIABLES
$color-primary: #3498db;
$color-primary-dark: #2980b9;

$color-secondary: #2c3e50;

$color-grey-light-1: #e0e0e0;
$color-grey-light-2: #bdbdbd;

$color-grey-dark-1: #757575;
$color-grey-dark-2: #616161;

$color-button:hsl(331, 78%, 59%);
$color-button-dark:hsl(331, 78%, 49%);


// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-display: 'Roboto', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    // @media only screen and (max-width: $bp-largest) {
    //     font-size: 50%;
    // }
}

body {
    font-family: $font-primary;
    color: $color-grey-light-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 20vh 20vh 20vh 20vh min-content;
    grid-template-columns: [full-start] minmax(min-content, 1fr) 
    [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(min-content, 1fr) [full-end];
        // 960 : 16x6rem
    @media only screen and (max-width: $bp-large) {
       
    }

    @media only screen and (max-width: $bp-medium) {
   
    }
}