.header {
    background-color: $color-primary;
    grid-column: full-start / full-end;
    // background-image: linear-gradient(rgba($color-secondary, .5), rgba($color-secondary, .5)), url(../img/hero.jpeg);
    // background-size: cover;
    // background-position: center;
   
    display: grid;
  
    @media only screen and (max-width: $bp-medium) {
       
    }

    @media only screen and (max-width: $bp-small) {
      
    }

}